.Rproj.user
.Rhistory
.RData
.Ruserdata
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Archive/"
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Results/"
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Chicxulub results/"
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Materials from Gavin/"
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Morokweng Results/"
"/Users/claireharrigan/Dropbox/IGL + Research/Other projects/MeltSheet/Writing/"
.DS_store