.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
# Ignore folders
Archive
Results
Chicxulub results
Materials from Gavin
Morokweng Results
Writing
.Rhistory (Claires-iMac.local's conflicted copy 2020-09-03)
